.headerBg{
    background: wheat;
}
a{
    color: black;
    cursor: pointer;
}
.footerBg{
    background: wheat;
}
.logo{
    height: 3vw;
    width:5vw;
}

#header{
    border-bottom: 5px solid #0098da;
    height:100%
}
